<%= content_for(:title, "Edit Rental") %>

<div class="edit-rental container">
  <div class="row">
    <h1>Edit Rental</h1>

    <%= render("layouts/errors", :object => @rental) %>

    <%= render("form", :object => @rental) %>

  </div>
</div>
