<%= content_for(:title, "Home") %>

<div class="all-rentals">
  <% @rentals.each do | rental | %>
    <li><%= link_to rental.title, rental_path(rental), class: "rental-title" %></li><br />
    <li class="location-type"><%= rental.location %> | <%= rental.rental_type %></li><br /><br />
  <% end %>
</div>
