<%= content_for(:title, "Rentals") %>

<div class="all-rentals container">
  <div class="row">
    <h1>betterbnb</h1>

    <% @rentals.each do | rental | %>
      <li class="rental-title"><%= link_to rental.title, rental_path(rental) %></li><br />
      <li class="location-type"><%= rental.location %> | <%= rental.rental_type %></li><br /><br />
    <% end %>

  </div>
</div>
