$BrandFont: 'Inder', sans-serif;
$Megrim: 'Megrim', cursive;

$BrandPrimaryColor: #035C94;
$BrandSecondaryColor: #F0A51A;

/* ====================================== HEADER ====================================== */

.header {
  background-color: $BrandPrimaryColor;
  color: white;
  ul li {
    list-style: none;
  }
}

.brand {
  font-family: $BrandFont;
  font-size: 1.7em;
  padding-top: 8px;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: $BrandSecondaryColor;
    text-decoration: none;
  }
  li {
    display: inline;
  }
}

.header-links {
  padding: 15px 35px 0px 0px;
  font-size: 1.2em;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: $BrandSecondaryColor;
    text-decoration: none;
  }
  li {
    display: inline;
    margin-left: 10px;
  }
}

.orange {
  color: $BrandSecondaryColor;
}

.container-inner {
  width: 100%;

}



/* ======================================= BODY ======================================= */

.flash {
  margin-top: 60px;
  right: 0px;
  font-size: 2em;
  .green {
    list-style: none;
    color: #60b044;
  }
}

.red {
  list-style: none;
  color: Red;
}

.home-page {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  h1 {
    font-family: $BrandFont;
    font-size: 3.5em;
    margin-bottom: 30px;
  }
  .rental-home {
    border: 1px solid $BrandPrimaryColor;
  }
  .signup-button {
    padding: 20px 30px;
    background-color: $BrandSecondaryColor;
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
  }
}

.all-rentals {
  margin-bottom: 150px;
}

.signup-form {
  margin: 0 auto;
  margin-top: 50px;
  .field input {
    width: 200px;
  }
  .actions {
    margin-top: 10px;
    color: $BrandSecondaryColor;
  }
}

.login-form {
  margin: 0 auto;
  margin-top: 50px;
  .field input {
    width: 200px;
  }
  .actions {
    margin-top: 10px;
    color: $BrandSecondaryColor;
  }
}

li {
  display: inline;
  .rental-title {
  color: $BrandPrimaryColor;
  font-size: 18px;
  text-decoration: none;
  }
  .rental-title:hover {
    display: inline;
    color: $BrandSecondaryColor;
    font-size: 18px;
    text-decoration: none;
  }
}

.location-type {
  display: inline;
  color: $BrandPrimaryColor;
  font-size: 13px;
}

.user-page {
  .user-handle {
    display: inline;
    color: $BrandPrimaryColor;
    font-size: 8px;
    text-align: left;
  }
  .user-message {
    display: inline;
    color: $BrandSecondaryColor;
  }

}


/* ====================================== FOOTER ====================================== */

.footer {
  background-color: WhiteSmoke;
}
