<section class="photoslot">
  <div class="wrapper">
    <div class="brief">
      <h1>betterbnb</h1>
    <div class="home-page container">
      <%= link_to "sign up for betterbnb", new_user_registration_path, class: "signup-button btn btn-default" %>

    </div>

  </div>
</section>
